html{
    font-family: sans-serif;
}
body{
    background-color:#030619;
    color: crimson;
    position: relative;
}
/* Top-navigation-bar */
.top-bar{
    display: flex;
    flex-direction: row;
    position: fixed; 
    width:100%;
    height: auto;
    justify-content: space-between;
    background-image: linear-gradient(60deg, black,#cc2fc2);
    z-index: 3;
}
/* left part in top bar*/
.header-left{
    width: 30vw;
    display: flex;
}
/* music studio logo in top bar*/
#logo{
    height:90% ;
    width:35%;
}
#logo img{
    left: 5%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
#logo-name{
    display: block;
    height: 20%;
    width: 20%;
    padding: 5%;
    font-weight: bold;
}
#logo-name span{
    font-size: 1.3rem;
    color: white;
}
.favourites h2{
    font-weight: bold;
    color: white;
}
/* right part in top bar */
#header-right{
    display: flex;
    width: 45vw;
}
.search{
    position: relative;
    width: 38vw;
    height: 8vh;
}
.search input{
    position: absolute;
    box-sizing: border-box;
    top: 5;
    width: 95%;
    height: 2.8rem;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem;
    padding-left: 1.8rem;
    font-size: 1.3rem;
}
  /* microphone icon in search box  */ 
.search  #audio i{    
    position: relative;
    left: 85%;
    font-size: 2.2rem;
    padding: 2px;
    bottom: 22;
    z-index:4;
}
/* zooming icon in search box */
 .search #zoom i{   
    position: relative;
    left: 0;
    top: 14;
    font-size: 1.8rem;
    padding: 2px;
    z-index: 1; 
}
 /* bell icon in top bar */
.bell-icon i{     
    font-size: 2.5rem;
    color:white;
    position: relative;
    right: 25%;
    top:12%;
}
/* my profile in top bar */
.my-profile{
    height: 70%;
    width: 15%;
   z-index: 3;
}
.my-profile img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
/* header part for mobile */
#aside-btn input{
    display: none;
}
#aside-btn label{
	color: white;
	font-size: 1.8rem;
	cursor: pointer;
    display: none;
}
#aside-menu{
	width: 300px;
	height: 100vh;
	background-color:#0c112d;
	position: fixed;
	left: 0;
	top: 0;
	z-index:999999999999;
	display: none;
}
#btn:checked ~ #aside-menu{
	display: block;
	opacity: 1;  
}

/* aside-container */

#aside-menu #aside-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* profile in left-aside part */
#aside-menu #aside-profile{
	width: 5rem;
	height: 5rem;
	margin: 2rem 0;
}
#aside-menu #aside-profile img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
/* favourite part in aside left */
#aside-menu #aside-fav{
	font-size: 2rem;
	margin: 0rem 0 2rem;
	color: white;
	cursor: pointer;
}
/* search-bar */
 #aside-search-bar{
	width: 84%;
	border-radius: 10px;
	padding: 5px;
	position: relative;
	background-color: black;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
 #aside-search-bar #input{
	width: 84%;
	font-size: 1.5rem;
	outline: none;
	border: none;
	padding: 5px;
	color: white;
	background-color: #5050ff00;
	display: block;
}
/* search-icon in aside left */
#aside-search-bar span{
	color: white;
	font-size: 1.5rem;
	font-weight: 100;
}
#aside-search-bar #input::placeholder{
	font-size: 1.7rem;
}

#aside-search-bar span .fa-microphone{
	color: silver;
}
/* main  */
main{
     display: inline-block; 
    height: auto;
    width: 72%;
    position: relative;
    left:5vw;
    top:12vh;
}

/* ed-sheeren-section  */

section#ed-sheeran-section{
    height: auto;
    width: 100%;
}
.ed-sheeran-info{
    display: flex;
    width: 95%;
    height: 15rem;
    margin: 1.2rem;
}
.ed-sheeran-image{
    width: 50vw;
    height:15rem;
}
.ed-sheeran-image img{
    width: 100%;
    height:100%;
}
.ed-sheeran-info span{
    font-size: 1.4rem;
    color: white;
}
.ed-sheeran-info p{
    font-size: 0.9rem;
    width:80%;
}
.ed-sheeran-part{
    padding: 1rem;
}
/* play-button in ed-sheeran-section */
.play-button button{
    background-color:  #388eb7;
    font-size: 1.5rem;
    letter-spacing: 3px;
    outline: none;
    border: none;
    width: 8rem;
    cursor: pointer;
}

/* different songs of ed-sheeran section  */
section#ed-sheeran-list{
    height: auto;
    width: 100%;
}
/* different songs of ed-sheeran */
.ed-sheeran-songs{
    background-color: grey;
    height: 13%;
    width: 95%;
    display: flex;
    margin-top: 1.8%;
}
.song-number{
    width: 4vw;
    font-weight: bold;
}
.song-image {
    height: 80%;
    width: 16%;
    align-items: center;
    margin-top: 1.5vh;
}
.song-image img{
    height:100%;
    width: 100%;
}
.song-name span{
    display: block;
}
.song-name{
    height: 20%;
    width: 20%;
    margin-left: 2%;
    font-weight: bold;
    padding:0.6rem
}
.song-number p{
    padding-top: 1vh;
}
.song-time{
   margin-left: 8%; 
   margin-top:2% ;
}
.song-heart{
    margin-left: 20%;
    margin-top: 3%;
}
.song-heart i{
    font-size: 1.8rem;
}
.song-plus{
    margin-left: 3%;
    margin-top: 3%;
}
.song-plus i{
    font-size:1.8rem ;
}

/* aside  */

aside{
    display: inline-block;
    box-sizing: border-box;
    width: 21%;
    margin-top: 4%;
    margin-left: 15px;

}
/* similar artists part */
.similar-artists{
    height: 15%;
    width: 30%;
    display: flex;
    position: relative;
    margin-top: 4%;
    margin-left:10%;
}
.similar-artists img{
    height: 100%;
    width: 100%;
}
.similar-artists .artist-name{
    position: absolute;
    top: 40%;
    right: -105%;
}
.similar-artists .similar-artist-name{
    padding: 1.5rem 0.3rem
}
.similar-artists .artist-song-name{
    color: white;
}

/* recently played part */
.recently-played{
    height:12%;
    width:25%;
    display:flex;
    margin-top:4%;
    margin-left: 10%;
}
.recently-played span{
    display: block;
    padding:0.2rem;
    font-size:0.8rem;
}
.recently-played img{
    height: 100%;
    width: 100%;
}
.recently-played .song-detail .artist-song-name{
    color: gainsboro;
    font-size:0.8rem;
}
/* bottom-footer  */
footer{
    background-color:lightgrey;
    box-sizing: border-box;
    margin-top: 200px;
    width: 100%;
    padding-top: 1.5rem;
    display:flex; 
}
/* left part in footer */
.footer-left{
    display: flex;
    width:25%;
    justify-content: space-between;
}
.footer-image{
    width:30%;
    height: 100%;
    margin-left: 5%;
}
.footer-image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.footer-name span{
    font-size: 1.2rem;
    font-weight: bold;
}
.footer-name span{
    display: block;
}
.footer-heart i{
    font-size: 2rem;
}
/* middle part in footer */
.bottom-music-player{
    display: flex;
    flex-direction: column;
    width: 50%;  
    align-items: center;
}
.upper-icons{
    display: flex;
    flex-direction: row;
    align-content: center;
}
.shuffle-icon i{
    font-size: 2rem;
    margin-left: 1.8rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}
.pause-icon i{
    font-size: 2.5rem;
    margin-left: 1.8rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}
.step-forward-icon i{
    font-size: 2rem;
    margin-left: 1.8rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}
.step-backward-icon i{
    font-size: 2rem;
    margin-left: 1.8rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}
.sync-icon{
    font-size: 2rem;
    margin-left: 1.8rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}
.range-bar input{
    height: 40%;
    width: 25rem;
}
/* right part in footer */
.footer-right{
    display: flex;
    flex-direction: row;
    width:25%;
}
.right-list i{
    font-size: 2rem;
    margin-left: 1.8rem;
}
.volume-up i{
    font-size: 2rem;
    margin-left: 1.8rem;
}
.range-right{
   margin-left: 1.8rem;
}
.range-right input{
    width:8rem;
}   
/* media queries */
@media screen and (max-width:1100px){   
    #aside-btn label{
        display: block;
        margin-top:53%;
    }
    #header-right .search{
        display:none;
    }
    #header-right .bell-icon{
        margin-left:50%;
    }
    #header-right .my-profile{
        display:none;
    }
    .favourites{
        display: none;
    }
    .ed-sheeran-image{
        width: 75vw;
        height:18rem;
    }
    .ed-sheeran-image img{
        width: 100%;
        height:100%;
    }
    .ed-sheeran-info{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    aside{
        display:none;
    }
    main{
        width:92%;
    }
    .ed-sheeran-songs{
        width: 95%;
        height:12%;
    }
    
    .footer-right{
        display:none
    }
    .footer-left{
        display: none;
    }
    .bottom-music-player{
        margin-left: 20%;
        align-content: center;
    }
}